<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @budget.title %>
</p>

<p>
  <b>Budget:</b>
  <%= @budget.budget %>
</p>

<p>
  <b>Price:</b>
  <%= @budget.price %>
</p>

<p>
  <b>Description:</b>
  <%= @budget.description %>
</p>


<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
<%= form_for([@budget, @budget.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p><%= f.submit %></p>
<% end %>
<% @comment.each do |i| %>
  <table style="color:#a52a2a; font-size: 20px; ">
  <tr> 
  <td> Name:  <%= i.name  %><br>
  Comment: <%= i.body %>
  </td>
  </table>

 <% end %>